<div class="row">
  <div class="col-md-6">
    <h3>Mon 11 Nov</h3>
    <table class="table-striped">
      <tr> <td>15:00-17:00</td>  <td>Setup Support </td> </tr>
    </table>
    <h3>Tue 12 Nov</h3>
    <table class="table-striped">
      <tr> <td>8:30-9:30</td>  <td>Setup Support</td> </tr>
      <tr> <td>9:30-10:00</td> <td>Welcome & Introduction</td> </tr>
      <tr> <td>10:00-12:15</td> <td> <a href="https://datacarpentry.github.io/spreadsheets-socialsci/">Data Organization in Spreadsheets
</a></td> </tr>
      <tr> <td>12:15-13:15 </td> <td>Lunch</td> </tr>
      <tr> <td>13:15-15:15</td> <td> <a href="https://datacarpentry.github.io/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td> </tr>
      <tr> <td>15:15-15:30 </td> <td>Coffee Break</td> </tr>
      <tr> <td>15:30-17:00</td> 
        <td><a href="https://datacarpentry.org/r-socialsci/01-intro-to-r/index.html">Introduction to R</a></td></tr>
        </table>
        </div>
  <div class="col-md-6">
    <h3>Wed 13 Nov</h3>
    <table class="table-striped">
      <tr> <td>9:00-11:15</td>  <td> <a href="https://datacarpentry.org/r-socialsci/02-starting-with-data/index.html"> Starting with Data</a></td> </tr>
      <tr> <td>11:15-11:30 </td> <td>Coffee Break</td> </tr>
      <tr> <td>11:30-12:50</td>  <td> <a href="https://datacarpentry.org/r-socialsci/03-dplyr-tidyr/index.html"> Introducing dplyr and tidyr</a></td> </tr>
      <tr> <td>12:50-13:50 </td> <td>Lunch</td> </tr>
      <tr> <td>13:50-16:00</td>  <td> <a href="https://datacarpentry.org/r-socialsci/04-ggplot2/index.html"> Data visualisation with ggplot2</a></td> </tr>
      <tr> <td>16:00-16:30 </td> <td>Feedback & Wrap-up</td> </tr>
    </table>
  </div>
</div>
