
<div class="row">
  <div class="col-md-6">
    <h3>Wed 22 Apr</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Tech helpdesk</td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://librarycarpentry.org/lc-data-intro">Welcome & Round of Introductions / Motivation, Introduction to Library Carpentry</a></td> </tr>
      <tr> <td>10:30</td>  <td>Introduction to Data (regular expressions) - worksheet (with some examples, easy and more advanced)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch</td> </tr>
      <tr> <td>13:30</td>  <td>OpenRefine (with 2 x 15 min break)</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tue 23 Apr</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Intro to UNIX Shell</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch</td> </tr>
      <tr> <td>13:00</td>  <td>Intro to UNIX Shell ctd.</td> </tr>
      <tr> <td>14:00</td>  <td>Git</td> </tr>
      <tr> <td>16:00</td>  <td>Feedback</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
