
<div class="row">
  <div class="col-md-6">
    <h3>Tue 19 May</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td>Welcome & Round of Introductions / Motivation, Introduction to Library Carpentry</td> </tr>
      <tr> <td>10:20</td>  <td><a href="https://librarycarpentry.org/lc-data-intro">Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>13:30</td>  <td>End</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wed 20 May</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Tech helpdesk (if needed)</td> </tr>
      <tr> <td>10:00</td>  <td>Welcome & Round of Introductions / Motivation, Introduction to Library Carpentry</td> </tr>
      <tr> <td>10:20</td>  <td><a href="https://librarycarpentry.org/lc-git">Git</a></td> </tr>
      <tr> <td>12:30</td>  <td>End</td></tr>
    </table>
  </div>  
  <div class="col-md-6">
    <h3>Wed 27 May</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Tech helpdesk (if needed)</td> </tr>
      <tr> <td>10:00</td>  <td>Welcome & Round of Introductions / Motivation, Introduction to Library Carpentry</td> </tr>
      <tr> <td>10:20</td>  <td><a href="https://librarycarpentry.org/lc-open-refine">OpenRefine</a></td> </tr>
      <tr> <td>13:30</td>  <td>End</td></tr>
    </table>
  </div>  
  <div class="col-md-6">
    <h3>Wed 03 June</h3>
    <table class="table table-striped">
      <tr> <td>13:30</td>  <td>Tech helpdesk (if needed)</td> </tr>
      <tr> <td>14:00</td>  <td>Welcome & Round of Introductions / Motivation, Introduction to Library Carpentry</td> </tr>
      <tr> <td>14:20</td>  <td><a href="https://librarycarpentry.org/lc-shell">Intro to UNIX Shell</a></td> </tr>
      <tr> <td>16:20</td>  <td>End</td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wed 04 June</h3>
    <table class="table table-striped">
      <tr> <td>14:00</td>  <td><a href="https://librarycarpentry.org/lc-shell">Intro to UNIX Shell</a></td> </tr>
      <tr> <td>16:10</td>  <td>End</td></tr>
    </table>
  </div>  
</div>
