<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-data">Introduction to Working with Data (Regular Expressions)</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-data-intro/01-regular-expressions">Regular expressions</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/02-match-extract-strings">Matching & Extracting Strings</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/03-quiz">Multiple Choice Quiz</a></li>
      <li><a href="https://librarycarpentry.org/lc-data-intro/04-exercises">Exercises</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-shell">OpenRefine</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-open-refine/01-introduction">Introduction to OpenRefine</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/02-importing-data">Importing data into OpenRefine</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/03-working-with-data">Layout of OpenRefine, Rows vs Records</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/04-faceting-and-filtering">Faceting and filtering</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/05-clustering">Clustering</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/06-working-with-columns">Working with columns and sorting</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/07-introduction-to-transformations">Introduction to Transformations</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/08-writing-transformations">Writing Transformations</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/09-undo-and-redo">Transformations - Undo and Redo</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/10-data-transformation">Transforming Strings, Numbers, Dates and Booleans</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/11-using-arrays-transformations">Transformations - Handling Arrays</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/12-export-transformation">Transformations - Exporting</a></li>
      <li><a href="https://librarycarpentry.org/lc-open-refine/13-looking-up-data">Advanced OpenRefine functions</a></li>

    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Intro to Unix Shell</h3>
    <ul>
      <li><a href="https://librarycarpentry.org/lc-shell/01-intro-shell">What is the shell?</a></li>
      <li><a href="https://librarycarpentry.org/lc-shell/02-navigating-the-filesystem">Navigating the filesystem</a></li>
      <li><a href="https://librarycarpentry.org/lc-shell/03-working-with-files-and-folders">Working with files and directories</a></li>
      <li><a href="https://librarycarpentry.org/lc-shell/04-loops">Automating the tedious with loops</a></li>
      <li><a href="https://librarycarpentry.org/lc-shell/05-counting-mining">Counting and mining with the shell</a>
      </td></li>
      <li><a href="https://librarycarpentry.org/lc-shell/06-free-text">Working with free text</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <h3 id="syllabus-openrefine">Git</h3>
      <ul>
        <li><a href="https://librarycarpentry.org/lc-git/01-what-is-git">What is Git/GitHub?</a></li>
        <li><a href="https://librarycarpentry.org/lc-git/02-getting-started">Getting started with git</a></li>
        <li><a href="https://librarycarpentry.org/lc-git/03-sharing">Sharing your work</a></li>
        <li><a href="https://librarycarpentry.org/lc-git/04-review">Review</a></li>
        <li><a href="https://librarycarpentry.org/lc-git/05-github-pages">GitHub Pages</a>
      </ul>
    </div>
  </div>
</div>
